# Python
backend/venv/
__pycache__/
*.pyc
*.json
*.log

# Node
frontend/node_modules/
frontend/build

# Enviroment variables
.env
venv/
backend/.env
backend/embeddings.json
fronend/.env

# Mac
.DS_Store

# Chroma vector DB files
chroma_db/
backend/chroma_db/

# Testing files
backend/security_improvements.py
backend/security_test.py
