# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/build

# Enviroment variables
.env
backend/.env
backend/embeddings.json
fronend/.env

# Mac
.DS_Store

# Chroma vector DB files
chroma_db/
backend/chroma_db/